body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
}

.main {
    display: flex;
    height: 100vh;
}

.navbar {
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
}

.left-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin: 1rem;
}

.left-navbar i {
    /* padding: 0.5rem; */
    font-size: 1.4rem;
}

.icon-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292929;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 0.2rem;
    margin: 0.5rem;
}

.search {
    opacity: 0.8;
}

.search:hover {
    opacity: 1;
}

.home:hover {
    transition: all 0.3s ease;
}



.icon-logo:hover {
    background-color: #535353;
    cursor: pointer;
}

.logo i {
    margin: 0.8rem;
    font-size: 2rem;
}

.right-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    /* padding: 1rem; */
}

.right-navbar p {
    margin: 0.4rem;
}

.right-navbar .para {
    padding-right: 1rem;
    display: flex;
    opacity: 0.6;
    font-weight: 600;
    font-size: 0.96rem;
}

.badge {
    margin-left: 2rem;
    margin: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 0.9rem;
    opacity: 0.6;
    font-weight: 600;
}

.sign-up {
    font-size: 0.9rem;
    opacity: 0.6;
    font-weight: 600;
}

.login {
    margin-left: 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    font-weight: 600;
    margin: 1rem;
    padding: 1rem 1.8rem;
    background-color: #fff;
    
}


/* }
.sidebar {
    width: 27%;
    background-color: #000;
    color: #fff;

}

.content {
    color: #fff;
    background-color: #121212;
    flex: 1;
}

.signup {
    background: linear-gradient(90deg, #af2896, #509bf5);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-radius: 0.5rem;
    margin: 0.2rem;
} */